@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?7vdeah');
    src:  url('../fonts/icomoon.eot?7vdeah#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?7vdeah') format('truetype'),
      url('../fonts/icomoon.woff?7vdeah') format('woff'),
      url('../fonts/icomoon.svg?7vdeah#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-left-long:before {
    content: "\e91e";
  }
  .icon-right-long:before {
    content: "\e91f";
  }
  .icon-review:before {
    content: "\e920";
  }
  .icon-right-arrow:before {
    content: "\e922";
  }
  .icon-star-1:before {
    content: "\e923";
  }
  .icon-star-solid:before {
    content: "\e924";
  }
  .icon-stopwatch:before {
    content: "\e925";
  }
  .icon-todo-list:before {
    content: "\e926";
  }
  .icon-binoculars:before {
    content: "\e927";
  }
  .icon-camera:before {
    content: "\e928";
  }
  .icon-left-arrow:before {
    content: "\e929";
  }
  .icon-map:before {
    content: "\e92a";
  }
  .icon-pros-cons:before {
    content: "\e92b";
  }
  .icon-user:before {
    content: "\e92c";
  }
  .icon-login:before {
    content: "\e92d";
  }
  .icon-clock:before {
    content: "\e91d";
  }
  .icon-plane:before {
    content: "\e900";
  }
  .icon-backpack:before {
    content: "\e901";
  }
  .icon-bicycle:before {
    content: "\e902";
  }
  .icon-bus:before {
    content: "\e903";
  }
  .icon-compass:before {
    content: "\e904";
  }
  .icon-diving:before {
    content: "\e905";
  }
  .icon-globe:before {
    content: "\e906";
  }
  .icon-event_fixed:before {
    content: "\e907";
  }
  .icon-event_delay:before {
    content: "\e908";
  }
  .icon-event_un:before {
    content: "\e909";
  }
  .icon-family:before {
    content: "\e90a";
  }
  .icon-hot_spring:before {
    content: "\e90b";
  }
  .icon-finish:before {
    content: "\e90c";
  }
  .icon-fishing:before {
    content: "\e90d";
  }
  .icon-flip_flops:before {
    content: "\e90e";
  }
  .icon-local_population:before {
    content: "\e90f";
  }
  .icon-helm:before {
    content: "\e910";
  }
  .icon-island:before {
    content: "\e911";
  }
  .icon-boat:before {
    content: "\e912";
  }
  .icon-mountain:before {
    content: "\e913";
  }
  .icon-multiply:before {
    content: "\e914";
  }
  .icon-play_button:before {
    content: "\e915";
  }
  .icon-sailboat:before {
    content: "\e916";
  }
  .icon-road_sign:before {
    content: "\e917";
  }
  .icon-meter:before {
    content: "\e918";
  }
  .icon-suitcase:before {
    content: "\e919";
  }
  .icon-sun_umbrella:before {
    content: "\e91a";
  }
  .icon-tent:before {
    content: "\e91b";
  }
  .icon-upload:before {
    content: "\e91c";
  }
  